.data_element {

    font-size: 1em;
    padding: 1em;
    margin: 0.4em 1em;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    text-align: initial;

}




.hideInput {
    outline: none;
    border: 0px;
}

.showInput {
    border: 1px solid;
}



.hideButton {
    visibility: hidden;
}

.text-strike input[type=text] {
    text-decoration: line-through;
}



.box {
    float: left;
    width: 2em;
}

/*Style divs horizontally*/
.box:nth-child(1) {
    width: 10%;
    text-align: center;
}

.box:nth-child(2) {
    width: 50%;
    text-align: center;
}

.box:nth-child(3) {
    width: 10%;
    text-align: center;
}

.box:nth-child(4) {
    width: 10%;
    text-align: center;
}

.box:nth-child(5) {
    width: 10%;
    text-align: center;
}

.box:nth-child(6) {
    width: 10%;
    text-align: center;
}