*{
  font-family: 'Monaco', sans-serif;
  font-size: 15px;
  
}

body {

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  background: rgb(223,178,34);

}


.App {
  width: 50%;
  height: 50%;
  border: 0.1em solid white;
  border-radius: 1em;
  padding: 1.2em;
  margin: 4em;
  position: relative;
  left: 22.5%;
  background:white;
  box-shadow: 1px, 1px;
}