.data_element {

    font-size: 1em;
    padding: 1em;
    margin: 0.4em 1em;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    text-align: initial;
    height: fit-content;
    border-radius: 3px;

}




.hideInput {
    outline: none;
    border: 0px;
}

.showInput {
    border: 1px solid;
}



.hideButton {
    visibility: hidden;
}

.text-strike input[type=text] {
    text-decoration: line-through;
}

.btn{
    outline: none;
    border: none;
    background: none;
   

}

.btn:hover{
    color: blue;
}


.task-complete{
    opacity: 0.5;
}




.box {
    float: left;
    width: 2em;
}

/*Style divs horizontally*/
.box:nth-child(1) {
    width: 5%;
   
}

.box:nth-child(2) {
    width: 85%;
    
}

.box:nth-child(3) {
    width: 5%;
    
}

.box:nth-child(4) {
    width: 5%;
}

