.input-task {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.input-task input[type=text] {
    width: 25em;
    height: 2.5em;
    border: none;
    border-bottom: 0.2em solid rgb(74, 72, 72);
    border-radius: 0.2em;
}

.input-task input[type=submit] {
    width: 2em;
    height: 2.7em;
    padding: 0.5em;
    margin: 0.5em;


}