.input-task {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.input-task #inputField{
    width: 40em;
    height: 2.5em;
    border: none;
    border-bottom: 0.2em solid rgb(74, 72, 72);
    border-radius: 0.2em;
    outline: none;
  
}

.input-task input[type=submit] {
    width: 2em;
    height: 2.7em;
    padding: 0.5em;
    margin: 0.5em;


}

#btn-newTask{
    margin: 0.2em;
    position: relative;
    left: 0%;
}

.hide-btn{
    display: none;
}