body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
  }


.App{
  width: 50%;
  height: 50em;
  border: 0.1em solid;
  border-radius: 1em;
  padding: 1.2em;
  margin: 4em;
  position: relative;
  left:25%
  
}